.line{
  border: 1px solid red;
}
.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}


.search-icon{
  cursor: pointer;
}
.login-button div{
  margin-left: 5px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
  margin:0px
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.inputbox{
  border: none;
  border-bottom: 1px solid gray;
  padding-left: 20px;
  height: 23px;
}

.inputbox:focus{
  outline: none;
}

.input-area{
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-icon{
  position: absolute;
}

.productCard-img{
  width: 100%;
}

.productCard-area{
  background-color: white;
}
.productCard-area:hover{
  transform: scale(1.1);
  z-index: 1;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.login-area{
  display:flex;
  justify-content: center;
}

.side-login-area{
  display: flex;
  justify-content: space-between;
}

.side-menu-icon{
  visibility:hidden;
  margin: 30px;
  cursor: pointer;
}

/* 사이드메뉴 */
.side-menu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

@media screen and (max-width: 63rem) {
  .side-menu-icon{
    visibility:visible;
  }
  .menu-list{
    visibility: hidden;
  }
}